<div class="card" style="width: 18rem; margin: 15px;">
  <img class="card-img-top" [src]="product.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}, ID:{{product.id}}</h5>
    <p class="card-text">
      <p *ngIf="product.description">{{product.description}}</p>
      <p>{{product.price}}</p>
      <button (click)="add(product)" class="btn btn-success m-1">Acquista</button>
      <button (click)="remove(product)" class="btn btn-danger">Rimuovi articolo</button>
  </div>
</div>