<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/prodotti'">All Product <span class="sr-only">(current)</span></a>
      </li>
      <li *ngFor="let c of categories" class="nav-item">
        <a class="nav-link" [routerLink]="['prodotti', c.id]">{{c.name}}</a>
      </li>
    </ul>
    <a class="nav-link" [routerLink]="'cart'">Carrello items:{{counter}}</a>
  </div>
</nav>